  
:root {
    --main-color: #ffffff;
    --conteiner-bg-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --accent-color: #2196f3;
    --main-text-color: #757575;
    --title-color: #212121;
    --logo-color: #000000;  
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
}

  ul{
      list-style: none;
  }
  
  body {
    /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
  }
    
  .list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
  }

  .link:hover, 
  .link:focus {
    color: var(--accent-color)
  }

  .menu {
    display: inline-flex;
  }

  .menu-item {
    margin-right: 40px;
  }

  .header .container {
    display: flex;
    align-items: center;
  }

  .header .logo {
      margin-right: 70px;
  }

  .navigation {
      display: flex;
      align-items: center;
  }

  .location {
    color: var(--main-color);
  }

  /*Скрытие текста*/

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  /* логотип */
  
  .logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  
  .logo-header {
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accent-color);
  }
  
  /* навигация сайта */
  
  .link {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
  } 
  
  /* баннер Герой */
  
  .hero-title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
  }
      
  .section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
  }

  .team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  .container {
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
  }
  
  .container_banner {
    width: auto;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: var(--conteiner-bg-color);
  }

  .container_footer {
    width: auto;
    height: 252px;
    left: 0px;
    top: 2097px;
    background-color: var(--conteiner-bg-color);
    padding: 70px;
  }

  .profession {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
  }
  
  .logo-footer {
    color: var(--main-color);
  }
  
  .list-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
  }
  
  .contacts {
    font-style: normal;
    color: var(--main-color);   
  }

  .contacts .link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */   
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  
  /*кнопка индекс*/
  .button {
    border: 1px solid var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
    background-color: var(--accent-color);
    position: relative;
    left: 6%;
    transform: translate(-50%, 0);
    border-radius:3px;
    border: 0;
  }

  /*кнопка портфолио*/
  .button_2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
    background-color: var(--main-background-color);
    border-radius:3px;
    border: 0;
    background: var(--secondary-background-color);
    margin-top: 10px;   
  }

  /*кнопка индекс*/
  .button:hover {
    background: var(--accent-color);
    border: 0;
  }
   /*кнопка портфолио*/
  .button_2:hover,
  .button_2:focus {
    background: var(--accent-color);
    color: var(--main-color);
    border: 0;
  }

   /*кнопка портфолио*/
  .button_2:active {
	position:relative;
	top:1px;
  }