  
:root {
    --main-color: #ffffff;
    --conteiner-bg-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --button-bg-color: #F5F4FA;
    --accent-color: #2196f3;
    --accent-dark-color: #188CE8;
    --main-text-color: #757575;
    --title-color: #212121;
    --logo-color: #000000;  
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
/*
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
}
*/
  ul{
      list-style: none;
  }
  
  body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-color);
  }
    
  .list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .menu {
    display: inline-flex;
  }

  .menu-item {
    margin-right: 40px;
  }

  .page-header {
    padding: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--main-color);
  }

  .page-header .logo {
    margin-right: 70px;
  }

  .location {
    color: var(--main-color);
  }

  /*Скрытие текста*/

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  /* логотип */
  
  .logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--logo-color);
  }
  
  .logo-header {
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accent-color);
  }
  
  /* навигация сайта */
  
  .link:hover, 
  .link:focus {
    color: var(--accent-color)
  }

  .link {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
  } 

  .link-nav {
    margin-left: 40px;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
  }

  .page-header .container {
    display: flex;
    padding-left: 0px;
  }

  /*.header .container {
      margin-right: 70px;
  }
 */
  .navigation {
      display: flex;
      align-items: center;
      margin-right: auto;
  }
  
  /* баннер Герой */
  
  .hero-title {
    font-family: Roboto;
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color)
  }
      
  .section-title {
    font-family: Roboto;
    font-style: 400;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    padding: 40px;
  }

  .text {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  .text-ul {
    display: flex;
    padding: 100px;
    font-family: Roboto;
    font-style: 400;
    font-weight: 400;
    color: var(--main-text-color);
    flex-basis: calc((100% - 30px * 4) / 3);
    margin-left: 10px;
    margin-top:  10px;
  }

  .text-p {
    font-family: Roboto;
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
  }

  .text-h {
    padding-right: 40px;
    font-family: Roboto;
    font-style: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }

  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .works-item {
    flex-basis: calc((100% - 100px * 3) / 3);
    margin-left: 10px;
    margin-top:  10px;
  }

  .profession-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profession-cards {
    flex-basis: calc((100% - 670px * 4) / 3);
    margin-top:  10px;
    margin-right: 30px;
    text-align: center;
    background: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .container-bg {
   width: auto;
   height: 648px;
   left: 0px;
   top: 1449px;
   background-color: var(--secondary-background-color);
  }

  .team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  .section {
    padding-top: 80px;
  }

  .container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--conteiner-bg-color);
  }

  .container_footer {
    width: auto;
    height: 252px;
    left: 0px;
    top: 2097px;
    background-color: var(--conteiner-bg-color);
    padding: 70px;
  }

  .profession {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
  }
  
  .logo-footer {
    color: var(--main-color);
  }
  
  .contacts {
    font-style: 400;
    color: var(--main-color);   
  }

  .contacts .link {
    font-family: Roboto;
    font-style: 400;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */   
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }

  .list-link {
    display: flex;
    padding-left: 0px;
    justify-content: flex-end;
  }

  /*кнопка индекс*/
  .button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-style: 400;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 12px 20px;
    letter-spacing: 0.06em;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--main-color); 
  }

  .button_0 {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    cursor: pointer;
    color: var(--main-text-color);
  }

  .button_0:hover {
    color: var(--accent-color);
  }

  /*кнопка индекс*/
  .button:hover {
    display: flex;
    font-family: Roboto;
    font-style: 400;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: var(--accent-dark-color);
    color: var(--button-bg-color);
  }
  /*кнопка портфолио*/

  .button_2 {
    min-width: 73px;
    height: 38px;
    font-family: Roboto;
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: 0;
    border-radius: 4px;
    background: var(--button-bg-color);
    padding: 6px 22px;
    text-align: center;
    letter-spacing: 0.03em;
  }

   /*кнопка портфолио*/
  .button_2:hover,
  .button_2:focus {
    background: var(--accent-color);
    color: var(--main-color);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

   /*кнопка портфолио*/
  .button_2:active {
	top:1px;
  }

  /*Портфолио*/ 
  
  .buttons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards-item {
    margin-top:  30px;
    margin-right: 30px;
    background: #FFFFFF;
    box-sizing: border-box;
  }

  .cards-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  .cards-t {
    font-family: Roboto;
    font-style: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--main-text-color);  
    letter-spacing: 0.03em; 
  }

  .cards-h {
    font-family: Roboto;
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
  }